.Test-Area {
  font-size: 10rem;
  padding-top: 10vw;
  text-align: center;
}

.AboutBlock {
  min-height: calc(100vh - 10rem);
}

@media (max-width: 768px) {
  .Test-Area {
    padding-top: 10vw;
    font-size: 1rem;
  }
}
