.PlanBlock {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Google-Map-Box {
  width: calc(100vw - 20rem);
  height: calc(100vh - 40vh);
}

@media (max-width: 768px) {
  .Google-Map-Box {
    width: 80vw;
    height: 50vh;
  }
}
