.PortfolioBlock {
  min-height: calc(100vh - 10rem);
}

.main-section {
  width: 80vw;
  margin: 0 auto;
}

.item {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
}

.text-area {
  width: 50%;
  vertical-align: middle;
  text-align: left;
  letter-spacing: 2px;
  font-size: 1.25rem;
  border: 1px solid red;
}

.img-box {
  width: 50%;
  border: 1px solid red;
}

.img-area {
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .item {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .text-area {
    text-align: center;
    margin-bottom: 1rem;
  }

  .img-box {
    height: auto;
    width: 80vw;
  }
}
