.SplashScreenBlock {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  position: relative;
  top: 0;
  left: 0;
}

.App-logo {
  pointer-events: none;
  animation-name: logoAim;
  animation-direction: alternate;
  animation-delay: 0.5s;
  animation-duration: 2s;
  animation-iteration-count: 2;
  opacity: 0;
}

.Logo-box {
  max-width: 40vw;
  height: auto;
}

@keyframes logoAim {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
